*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.game-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg , rgb(237, 136, 136), rgb(216, 36, 243));
    padding: 1em;
    gap: 1em;
    color: white;
    margin: auto;
    margin-top: 1em;
    border-radius: 0.5em;
    width: 50%;
}
.heading{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    text-align: center;
}
.heading ul{
    list-style-type: none;
    text-align: center;
}
.play-display{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.player-choices{
    display:grid;
    grid-template-columns: auto auto;
    gap: 0.5em;
    border: solid;
    border-radius: 0.5em;
    padding: 0.5em;
}
.play-display button{
    padding: 1em;
    border-radius: 0.5em;
    border: solid;
    border-style: none;
    transition: all 0.8s;
}
.play-display button:hover{
    background: linear-gradient(45deg, rgb(244, 198, 198), rgb(196, 220, 224));
    cursor: pointer;
}
.play-display img{
    width: 3em;
    height: 3em;
}
.computer-display{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10.5em;
    height: 10.5em;
    border: solid;
    border-radius: 0.5em;
    text-align: center;
}
.computer-display img{
    width: 9em;
    height: 9em;
}
.instant-result{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6em;
    height: 6em;
    border: solid;
    border-radius: 0.2em;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    border-color: white;
    color: red;
    text-transform: uppercase;
    background-color: white;
}
.score-sheet{
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
}
.player-score,
.computer-score{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}
.moves-display{
    font-size: large;
    font-weight: bold;
}

.result-container{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg , rgb(237, 136, 136), rgb(216, 36, 243));
    padding: 1em;
    gap: 1em;
    color: white;
    margin: auto;
    margin-top: 1em;
    border-radius: 0.5em;
    text-transform: uppercase;
    width: 50%;
}
.result-container button{
    padding: 0.6em ;
    width: 8em;
    font-size: large;
    border-radius: 0.5em;
    border-style: none;
    transition: all 0.5s;
    font-weight: bold;
    text-transform: uppercase;
}
.result-container button:hover{
    background: linear-gradient(90deg, rgb(52, 203, 230), rgb(85, 153, 236));
    cursor: pointer;
}
.winner{
    padding: 0.6em;
    border-radius: 0.2em;
}
.score-display{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0.2em;
    justify-content: center;
    align-items: center;
}
.score-display span{
    background-color: white;
    font-size: 1em;
    color: black;
    padding: 0.5em;
    width: 2em;
    text-align: center;
    border-radius: 0.1em;
}

@media screen and (max-width:1200px){
    .game-container{
        width: 98%;
    }
    .play-display{
        flex-direction: column;
        gap: 0.2em;
    }
    .result-container{
        width: 98%;
    }
    .winner{
        font-size: 1.5em;
        text-align: center;
    }
}
